.FilterHeader__title {
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.FilterHeader__filters {
    width: 100%;
    min-height: 0px;
    line-height: auto;
    
    overflow-y: hidden;
    white-space: nowrap;
}

.filterHeader__scroll {
    overflow-x: scroll;
}

.FilterHeader {
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px; 
    background-color: white;
}