.GifCard {
    width: 100%;
    height: auto;
    min-height: 200px;

    background: linear-gradient(135deg, #ff6e7f, #bfe9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    margin-top: 5px;

}